{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% load thumbnail %}
{% block style %}
<style>
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
    }
    h1 {
        position: relative;
        line-height: 1.2em;
    }

    h1:before {
        position: absolute;
        top: 1.2em;
        height: 0;
        width: 10%;
        content: '';
        margin-top:5px;
        margin-bottom:5px;
        border-top: 3px solid crimson;
    }
    
    .swiper-button-next:after, 
    .swiper-container-rtl,
    .swiper-button-prev:after{
        content: none;
    }
    .swiper-button-next, 
    .swiper-button-prev{
        border-radius: 100%;
    }
    .swiper-pagination-bullet{
        background: transparent;
        opacity: .8;
        border: 1px solid black;
    }
    .swiper-pagination-bullet-active{
        background: #000;
    }
</style>
{% endblock style %}

{% block content %}

<div class="top-margin"></div>
<div class="container">
    <div class="row no-gutters justify-content-center justify-content-md-between mb-5">
        {% if sub %}<p class="text-left"><a href={% url 'index' %}><i class="fas fa-home"></i> Home</a><span class="text-muted"> / {{ sub }}</span></p>{% endif %}
        <div class="col-12 col-md-6">
            <div class="card mb-3 border-0">
                {% if product.image.count == 1 %}
                <div class="d-flex align-items-center justify-content-center">
                    <picture>
                        {% thumbnail product.image.first.file "263x263" crop="center" as im %}
                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(max-width: 320px)">
                        {% endthumbnail %}
                        {% thumbnail product.image.first.file "350x350" crop="center" as im %}
                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 321px) and (max-width: 991px)">
                        {% endthumbnail %}
                        {% thumbnail product.image.first.file "450x450" crop="center" as im %}
                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 992px)">
                        {% endthumbnail %}
                        <img src="{{ product.image.first.file.url }}" class="card-img-top mb-0" alt="...">
                    </picture>
                </div>
                {% else %}
                <div id="carousel-image-detail" class="carousel slide d-flex align-items-center overflow-hidden" data-ride="carousel">
                    <ol class="carousel-indicators justify-content-end mr-0">
                        {% for x in product.image.count|times %}
                        <li data-target="#carousel-image-detail" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %} bg-dark"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in product.image.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-interval="10000">
                            <div class="row">
                                <div class="card col-12 border-0">
                                    <div class="ez-animate" data-animation="backInDown">
                                        <picture>
                                            {% thumbnail image.file "50x50" crop="center" as im %}
                                            <source srcset="{{ im.url }}" type="image/svg+xml" media="(max-width: 320px)">
                                            {% endthumbnail %}
                                            {% thumbnail image.file "350x350" crop="center" as im %}
                                            <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 321px) and (max-width: 991px)">
                                            {% endthumbnail %}
                                            {% thumbnail image.file "450x450" crop="center" as im %}
                                            <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 992px)">
                                            {% endthumbnail %}
                                            <img src="{{ image.file.url }}" class="card-img-top mb-0" alt="...">
                                        </picture>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title font-weight-bolder">{{ product.name }}</h2>
                    {% if product.old_price %}<del class="card-text text-danger h3">{{ product.old_price|currency }}</del>{% endif %}<p class="display-4 card-text">{{ product.price|currency }}</p>
                </div>                          
            </div>
        </div>
        <div class="jumbotron mb-0 py-0 px-3 py-1 col-12 col-md-5">
            {{ product.get_markdown }}
        </div>
    </div>

    {% if similiar_products %}
    <!-- Tags Carousel -->
    <div class="row no-gutters align-items-center justify-content-center">
        <h1 class="text-capitalize mt-0 d-flex">related Products</h1>
        <div class="swiper-container col-12 pb-5">
            <div class="swiper-wrapper">
                {% for p in similiar_products %}
                <div class="swiper-slide">
                    <div class="row">
                        <div class="card col-12 border-0">
                            <a href="{{ p.get_absolute_url }}" class="text-decoration-none text-dark">
                                <div class="d-flex align-items-center justify-content-center overflow-hidden">
                                    <picture>
                                        {% thumbnail p.image.first.file "250x250" crop="center" as im %}
                                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(max-width: 320px)">
                                        {% endthumbnail %}
                                        {% thumbnail p.image.first.file "300x300" crop="center" as im %}
                                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 321px) and (max-width: 991px)">
                                        {% endthumbnail %}
                                        {% thumbnail p.image.first.file "400x400" crop="center" as im %}
                                        <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 992px)">
                                        {% endthumbnail %}
                                        <img src="{{ p.image.first.file.url }}" class="card-img-top mb-0" alt="...">
                                    </picture>
                                </div>    
                                <div class="card-body py-0">
                                    <h4 class="card-title font-weight-bold">{{ p.name }}</h4>
                                    {% if p.old_price %}<del class="card-text text-danger h5">{{ p.old_price|currency }}</del>{% endif %}<p class="h4 card-text">{{ p.price|currency }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="d-none d-lg-block swiper-button-prev">
                <i class="fas text-black-50 fa-2x fa-angle-left"></i>
            </div>
            <div class="d-none d-lg-block swiper-button-next">
                <i class="fas text-black-50 fa-2x fa-angle-right"></i>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
    </div>
    <!-- End of Tags Carousel -->
    {% endif %}
</div>
{% endblock content %}
{% block javascript %}
<script>
    var swiper = new Swiper('.swiper-container', {
        grabCursor: true,
        lazy: true,
        preloadImages: false,
        watchSlideVisibility: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        breakpoints: {
            1024: {
                slidesPerView: 4,
            },
            768: {
                slidesPerView: 3,
            },
            320: {
                slidesPerView: 2,
                {% comment %} spaceBetween: 10 {% endcomment %}
            },
        },
    })
</script>
{% endblock javascript %}
