{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}

<div class="top-margin"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-left"><a href={% url 'index' %}> <i class="fas fa-home"></i> Home</a><span class="text-muted"> / {{ sub }}</span></p>
        </div>
        <div class="col-12 mb-4 overflow-hidden">
            <div class="d-flex py-5 casket shadow align-items-center justify-content-center animate__animated animate__fadeInDown animate__slow">
                <h5 class="my-5 display-3 text-white font-weight-bold" style="text-shadow: 1px 1px 3px #ffc107, 1px 1px 3px #7b07ff;">Caskets.</h5>
            </div>
        </div>
    </div>
    <div class="row infinite-container mb-3 ez-animate-group overflow-hidden">
        {% for product in product_list %}
        <div class="col-md-4 col-12 card infinite-item shadow-sm h-100 border-0 col-lg-3 overflow-hidden ez-animate" data-animation="{% cycle "fadeInLeft" "fadeInRight" %}">
            {% if product.image %}
            <div class="d-flex align-items-center justify-content-center overflow-hidden test2">
                <a href="{{ product.image.first.file.url }}" target="_blank">{{ product.image.first.render }}</a>
            </div>
            {% endif %}
            <div class="card-body pt-0">
                <h5 class="card-title text-center" style="font-size:1.3em">{{ product.name }}</h5>
                {% if product.old_price %}<del class="card-text text-danger" style="font-size:1.1em">{{ product.old_price|currency }}</del> {% endif %}<p class="card-text mb-0 text-success" style="font-size:1.5em">{{ product.price|currency }}</p>
                {% comment %} <a href="{% url 'products:collection-product-detail' product.slug %}" class="btn btn-dark btn-block btn-lg active rounded-0 text-center text-monospace" role="button" aria-pressed="true">Read More</a> {% endcomment %}
            </div>
        </div>
        {% empty %}
        <p class="font-italic">No item found...</p>
        {% endfor %}        
    </div>
    {% include 'assets/pagination.html'%}
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction){

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function(){
        $('.spinner-grow').show();

    },
    onAfterPageLoad: function(){
        $('.spinner-grow').hide();
    }
    });
</script>
{% endblock javascript %} 
