{% load extras %}
{% load static %}

<nav class="navv p-0 vw-100">
    <div class="nav_container overflow-hidden px-md-5 d-flex justify-content-md-between align-items-md-center justify-content-center align-items-start">
        <div class="logo ez-animate" data-animation="slideInLeft">
            <a href="{% url 'index' %}" id="brand-name" class="">Ozav <i class="fas fa-crown"></i></a>
        </div>
        <ul id="menu-wrapper" class="list-group list-unstyled list-group-horizontal show_list">
            {% navigation_list %}
        </ul>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

