{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block style %}
<style>
    
</style>
{% endblock style %}

{% block content %}

<div class="top-margin"></div>
<div class="container" >
    <div class="row">
        <div class="col-12 text-md-left">
            <p class="text-left"><a href={% url 'index' %}> <i class="fas fa-home"></i> Home</a><span class="text-muted"> / About </span></p>
            <p class="display-4 border-bottom border-danger">About</p>
            <p class="lead font-weight-lighter">Ozav Casket Company</p>
            <p class="h4"><span class="h1 text-success d-inline-block">O</span>zav Caskets is a company offering a wide range of funeral caskets even for the most demanding clients. 
                We are partners with several large manufacturers, 
                so we can always provide our customers with the most affordable price and you can save thousands of dollars on funeral costs. 
                Our company achieves success in business through the care of its customers, 
                paying great attention to every detail. 
                We build our reputation by achieving a trusting relationship with customers in their most difficult time. 
                Our top priority is always to simplify the process for our customers 
                as much as possible to let you focus on what is important to you.

                We fully understand our customers and their needs, 
                we also experienced the loss of loved ones, 
                and we know how difficult it could be for relatives 
                at such a tragic moment to handle all the funeral arrangements, 
                choose the right casket for loved one, and especially transportation arrangements.
                We know the value of time and don't look for cheap ways, our goal is quality service and proper results. 
                We are a partner with many cargo companies and we are always ready to offer the fastest and reliable delivery method in your area.       

                We are very proud to be able to offer our customers 
                a wide assortment of different kinds of Wooden Funeral Caskets at a most affordable price. 
                In our wooden caskets catalog, you always can find models made of Walnut, 
                Pine caskets, Mahogany caskets, some Teak wood caskets, Poplar caskets, 
                models made of Cherry or Oak and many more. 
                Metal caskets are also very popular, 
                we have an extensive selection of caskets of 18 gauge, 
                20 gauge, as well as stainless steel caskets. 
                If you are looking for a cremation casket or even oversized caskets, 
                we also can help you with that. We are here for you.<p>

        </div>
    </div>
</div>
{% endblock content %}