{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% load thumbnail %}    
{% block style %}
<style>
    h1 {
        position: relative;
        line-height: 1.2em;
    }

    h1:before {
        position: absolute;
        top: 1.2em;
        height: 0;
        width: 10%;
        content: '';
        margin-top:5px;
        margin-bottom:5px;
        border-top: 3px solid crimson;
    }
    .list-group.services li:before {
        position: absolute;
        top: 1.2em;
        left: -5px;
        height: 0;
        width: 10%;
        content: '';
        margin-top:5px;
        margin-bottom:5px;
        border-top: 3px solid crimson;

    }

    .swiper-button-next:after, 
    .swiper-container-rtl,
    .swiper-button-prev:after{
        content: none;
    }
    .swiper-button-next, 
    .swiper-button-prev{
        border-radius: 100%;
    }
    .swiper-pagination-bullet{
        background: transparent;
        opacity: .8;
        border: 1px solid black;
    }
    .swiper-pagination-bullet-active{
        background: #000;
    }
</style>
{% endblock style %}}
{% block content %}
<section class="home mb-5">
    <div class="container vh-100">
        <div class="row p-5 align-items-end justify-content-left vh-100">
            <div class="col-12 mb-5 animate__animated animate__fadeInUp animate__delay-2s">
                <span class="display-4 shadow-sm text-white">Welcome<br>Ozav Casket</span>
            </div>
        </div>
    </div>
</section>
<div class="container">
    {% if caskets.count > 0 %}
    <div class="row no-gutters mb-5 align-items-center justify-content-center">
        <h1 class="text-capitalize mt-0 d-flex mr-auto">Caskets &amp; Coffins</h1>
        <div class="swiper-container col-12 pb-5">
            <div class="swiper-wrapper">
                {% for p in caskets %}
                <div class="swiper-slide">
                    <div class="row">
                        <div class="card col-12 border-0">
                            <div class="d-flex align-items-center justify-content-center overflow-hidden">
                                <picture>
                                    {% thumbnail p.image.first.file "250x250" padding=True as im %}
                                    <source srcset="{{ im.url }}" type="image/svg+xml" media="(max-width: 320px)">
                                    {% endthumbnail %}
                                    {% thumbnail p.image.first.file "300x300" padding=True as im %}
                                    <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 321px) and (max-width: 991px)">
                                    {% endthumbnail %}
                                    {% thumbnail p.image.first.file "400x400" padding=True as im %}
                                    <source srcset="{{ im.url }}" type="image/svg+xml" media="(min-width: 992px)">
                                    {% endthumbnail %}
                                    <img src="{{ p.image.first.file.url }}" class="card-img-top mb-0" alt="...">
                                </picture>
                            </div>    
                            <div class="card-body py-0">
                                <h4 class="card-title font-weight-bold">{{ p.name }}</h4>
                                {% if p.old_price %}<del class="card-text text-danger h5">{{ p.old_price|currency }}</del>{% endif %}<p class="h4 card-text text-success">{{ p.price|currency }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-none d-lg-block swiper-button-prev">
                <i class="fas text-black-50 fa-2x fa-angle-left"></i>
            </div>
            <div class="d-none d-lg-block swiper-button-next">
                <i class="fas text-black-50 fa-2x fa-angle-right"></i>
            </div>
            <div class="swiper-pagination swiper-pagination-bullets"></div>
        </div>
        <a href="{% url 'products:collections' %}" class="btn btn-transparent text-decoration-none rounded-0 btn-lg p-4 font-weight-bold btn-outline-warning" role="button" style="font-size:9px;">VIEW ALL CASKETS</span>
        </a>
    </div>
    {% endif %}
    {% if events.count > 0 %}
    <div class="row no-gutters mb-5 align-items-center justify-content-center">
        <h1 class="text-capitalize mt-0 d-flex mr-auto">Event Gallery</h1>
        <div class="row no-gutters border rounded justify-content-md-around py-3">
            {% for event in events %}
            {% for image in event.image.all %}
            <div class="col-4 px-1 col-lg-3 col-md-3 {% if image.file|is_portrait %}order-{{ forloop.counter }}{% endif %}">
                <figure class="figure mb-0">
                    <a href="{{ image.file.url }}" target="_blank"><img src="{{ image.file.url }}" class="img-fluid" /></a>
                    {% comment %} <figcaption class="figure-caption text-center">{{ event.name }}</figcaption> {% endcomment %}
                </figure>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <a href="{% url 'events:event-list' %}" class="btn btn-transparent text-decoration-none rounded-0 btn-lg p-4 mt-2 font-weight-bold btn-outline-warning" role="button" style="font-size:9px;">VIEW GALLERY</span>
        </a>
    </div>
    {% endif %}
    <div class="row no-gutters mb-5 align-items-center justify-content-around ez-animate-group">
        <div class="col-md-4 px-1 col-11 mx-md-auto">
            <div class="card border-danger services shadow mb-3 ez-animate" data-animation="fadeInUp" data-animation-delay="1s">
                <div class="card-header border-bottom-0 bg-transparent">
                    <i class="fas fa-2x border-bottom border-primary text-primary p-2 rounded-circle fa-asterisk"></i>
                </div>
                <div class="card-body text-danger">
                    <h5 class="card-title">Our Services</h5>
                    <div class="row no-gutters">
                        <div class="col-6">
                            <ul class="p-1">
                                <li class="">Repatriation & Collection</li>
                                <li class="">Embalming & Mortuary Services</li>
                                <li class="">Lying-In-State</li>
                                <li class="">Shrowd</li>
                                <li class="">Creamation</li>
                                <li class="">Flower Wreath</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="p-1">
                                <li class="">Marble Stone</li>
                                <li class="">PallBearers</li>
                                <li class="">Hearse Services</li>
                                <li class="">Mobile Brass & Live Band</li>
                                <li class="">Video Coverage</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-1 col-11 mx-md-auto">
            <div class="card contacts border-danger shadow mb-3 ez-animate" data-animation="fadeInUp" data-animation-delay="2s">
                <div class="card-header border-bottom-0 bg-transparent">
                    <i class="far fa-2x border-bottom border-primary text-primary p-2 rounded-circle fa-address-card"></i>
                </div>
                <div class="card-body text-danger">
                    <h5 class="card-title">Our Contacts</h5>
                    <span class="card-text d-flex"><i class="fas fa-phone"></i>&nbsp;&nbsp;<a href="tel:+234 805 031 5131" class="text-danger">+234 805 031 5131</a></span>
                    <span class="card-text d-flex" style="word-break: break-all;"><i class="fas fa-at"></i>&nbsp;&nbsp;<a href="malito:ozavolorunfemi@gmail.com" class="text-danger">ozavolorunfemi@gmail.com</a></span>
                    <span class="card-text d-flex"><i class="fas fa-map-marked"></i>&nbsp;&nbsp;<p class="text-danger">116, Ikorodu Road, Fadeyi B/Stop, Beside Igbobi Orthopaedic Hospital, Lagos.</p></span>
                    <span class="card-text"><span class="font-weight-bold">Working Hours: </span>&nbsp;&nbsp;Mon. - Sat. (9am - 6pm).</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-md-1 col-11">
            <iframe class="shadow map ez-animate" data-animation="fadeInUp" data-animation-delay="3s" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.9395123129734!2d3.3655473143846955!3d6.529324124908029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8db22251b551%3A0x7d0a31eb8c171119!2s116%20Ikorodu%20Rd%2C%20Igbobi%2C%20Lagos!5e0!3m2!1sen!2sng!4v1609497603725!5m2!1sen!2sng" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    var swiper = new Swiper('.swiper-container', {
        grabCursor: true,
        lazy: true,
        preloadImages: false,
        watchSlideVisibility: true,
        pagination: {
            el: '.swiper-pagination',
            dynamicBullets: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        breakpoints: {
            1024: {
                slidesPerView: 4,
            },
            768: {
                slidesPerView: 3,
            },
            320: {
                slidesPerView: 2,
            },
        },
    });
</script>
{% endblock javascript %}
